09_xml/ch1.xml/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/student" xmlns:tns="http://www.example.org/student" elementFormDefault="qualified">
	<element name="students">
		<complexType>
			<sequence>
				<element name="student">
					<complexType>
						<sequence>
							<element name="stuNO" type="int"></element>
							<element name="stuName" type="string"></element>
							<element name="stuSex" type="char"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>